body {
  margin: 0 0 0 0;
  background-color: #5c2e70;
  text-align: center;
}

img {
  height: 40vh;
}

.text {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 43vw;
  margin-left: 28.5vw;
}
.form-label {
  margin: 0 0 0 0;
}

a {
  color: #000000;
}
